@model MediaWebView.Models.CustomersListViewModel

<!-- eCommerce Orders Header -->
<div class="content-header">
    <ul class="nav-horizontal text-center">
        <li class="active">
            <a><i class="gi gi-parents"></i> All Customers</a>
        </li>
        <li>
            <a href="@Url.Action("CreateCustomer", "Customer")"><i class="gi gi-user_add"></i> Add Customer</a>           
        </li>
    </ul>
</div>
<!-- END eCommerce Orders Header -->
<!-- All Customers Block -->

<div class="block full">
    <!-- All Customers Title -->
    <div class="block-title">
        <h2><strong>All</strong> Customers</h2>
    </div>
    <!-- END All Customers Title -->

    <!-- All Customers Content -->
    <table id="cust-list" class="table table-bordered table-striped table-vcenter">
        <thead>
            <tr>
                <th class="text-center" style="width: 70px;">ID</th>
                <th>Customer</th>
                <th class="text-center hidden-xs">City</th>
                <th>Country</th>
                <th class="hidden-xs text-center">Email</th>
                <th class="text-center">Customer Typ</th>
                <th class="text-center">Company Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.Customers)
            {
                @Html.Partial("CustomerSummary", c)
            }
        </tbody>
    </table>
</div>


