@model MediaWebView.Models.CustomersListViewModel

@{
    ViewBag.Title = "List";
}

@foreach(var c in Model.Customers)
{
    @Html.Partial("CustomerSummary", c)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, city = Model.CurrentCity}))
</div>

